@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
.p-container {
    animation: slideIn 0.5s ease-in-out;
 /* Changed from center to flex-start */
}

.pdf-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
}

.pdf-navigation button {
    padding: 5px 10px;
    cursor: pointer;
}

.p-container {
    width: 100%;
    max-width: 800px; /* Keeps the maximum width at 800px */
    margin: 0 auto; /* Centers the container horizontally */
    margin-top: 30px; /* Adds a top margin to push it down */
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex; /* Ensures content inside is flexibly organized */
    flex-direction: column; /* Organizes children vertically */
     /* Centers children horizontally */
}

