/* CSS */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Background for LoginPage */
.loginPageBackground {
  background: white;
}

/* Background for HomePage */
.homePageBackground {
  background: #fafaf2;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* AppBar container styling */
.appBarContainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* AppBar styling */
.customAppBar {
  background-color: rgba(66, 62, 62, 0.9) !important; /* Semi-transparent white background */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3) !important;
  border-bottom: 2px solid rgba(51, 51, 51, 0.8) !important; /* Semi-transparent border */
  border-radius: 10px !important;
  width: 50% !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px); /* Optional: adds a blur effect behind the AppBar */
}

/* Toolbar styling */
.customToolbar {
  justify-content: center;
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Button styling */
.customButton {
  font-weight: bold; /* Make text bold */
  color: whitesmoke !important; /* Softer gray text for buttons */
  /* Semi-transparent white background */
  border: none; /* Remove borders for a cleaner look */
  padding: 5px 10px !important; /* Reduce padding for a better fit */
  border-radius: 4px; /* Rounded corners for the button */
  font-size: 12px; /* Adjust font size to fit within the AppBar height */
  margin: 0 5px; /* Add margin between buttons for spacing */
  backdrop-filter: blur(10px); /* Optional: adds a blur effect behind the button */
}

/* Button hover and active states */
.customButton:hover {
  background-color: rgba(66, 62, 62) !important; /* Slightly less transparent on hover for visual feedback */
  color: white !important; /* Darker gray text on hover */
}

.customButton:active {
  background-color: rgba(255, 255, 255, 0.7) !important; /* Slightly more transparent when the button is clicked */
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2) !important; /* Inner shadow to give feeling of being pressed */
  color: white !important; /* Black text on active state */
}

/* Header styling */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 170px;
  color: rgba(66, 62, 62, 255); /* White text for better contrast against the gradient background */
}

.header-logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logo-image {
  height: 80px; /* Adjust the size as needed */
}
