.customAppBar.customAppBar {
  margin-top: 30px;
  background-color: #1a1a1a; /* Very dark grey background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Stronger shadow for more depth */
  border-bottom: 2px solid #333; /* Darker contrast on the bottom edge */
  border-radius: 20px; /* Rounded edges for a circular look */
  width: 93%; /* Reduce width to center the AppBar */
  margin-left: auto; /* Center align the AppBar */
  margin-right: auto; /* Center align the AppBar */
}

.customToolbar.customToolbar {
  justify-content: center; /* Center items within the toolbar */
  padding: 0 20px; /* Add padding on the sides for better spacing */
}

.customButton.customButton {
  font-weight: bold; /* Make text bold */
  color: #fff !important; /* White text for better readability */
  background-color: #292929 !important; /* Dark grey color for buttons */
  border: none; /* Remove borders for a cleaner look */
  padding: 10px 20px; /* Padding for a better touch area and appearance */
  border-radius: 4px; /* Rounded corners for the button */
  transition: background-color 0.3s; /* Smooth transition for hover effects */
}

.customButton.customButton:hover {
  background-color: #202020 !important; /* Slightly darker grey on hover for visual feedback */
}

.customButton.customButton:active {
  background-color: #111 !important; /* Very dark grey when the button is clicked */
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2) !important; /* Inner shadow to give feeling of being pressed */
}
